body {
  background-color: #b88b5c;
  color: white;
  font-family: "Indie Flower", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  margin: 0;

}

button {
  background-color: #64A712;
  color: white;
  font-family: "Indie Flower", serif;
 
}
  
